body {
  font-size: 18px;
  background-color: rgba(255, 228, 196, 0.55);
  font-style: italic;
  margin: 0;
}

/* BUTTONS */
.button {
  cursor: pointer;
  display: flex;
  color: rgb(71, 71, 187);
  margin-top: 20px;
  padding: 10px 20px;
  justify-content: space-between;
  gap:100px;
}

/* HEADINGS */
h1, h2, h3 {
  text-align: center;
}

/* MAIN LAYOUT */
.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  margin:30px;
 
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 2px solid grey;
  width: 20%;
  background-color: #f5f5f5;
}

.sidebar div {
  border: 1px solid black;
  background-color: grey;
  border-radius: 5px;
  margin: 5px;
}

.sidebar div a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
}

/* MAIN CONTENT */
.main-content {
  border: 1px solid black;
  padding: 20px;
  width: 80%;
  padding: 10px;
  margin:50px;


}

/* SALES SECTION */
.main-container {
  display: flex;
  gap: 10px;
}

.work {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.work input,
.work select {
  background-color: rgb(244, 228, 228);
  height: 30px;
}

/* CUSTOMER GRID */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.work2 {
  display: flex;
  flex-direction: column;
}

.work2 input,
.work2 select {
  background-color: rgb(237, 226, 226);
  height: 30px;
}

/* ITEMS GRID */
.items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.work3 {
  display: flex;
  flex-direction: column;
}

.work3 input,
.work3 select {
  background-color: rgb(235, 222, 222);
  height: 30px;
}

/* SUBMIT BUTTON */
.blue {
  background-color: blue;
  color: white;
}